<li>
    {{#if isLoggedIn}}
    <a href="/items/all">
        <img src="/sneakers.png" alt="">
    </a>
    {{else}}
    <a href="/">
        <img src="/sneakers.png" alt="">
    </a>
    {{/if}}
</li>