<header>
    <nav>
        <ul>
            {{#if isLoggedIn}}
            <li>
                <a href="/items/create">Create</a>
            </li>
            {{>headerLogo}}
            <li>
                <a href="/user/profile">Welcome, {{fullName}}</a> |
                <a href="/user/logout">Logout</a>
            </li>
            {{else}}
            <li class="site-logo">Header</li>
            {{>headerLogo}}
            <li class="site-logo">Shop</li>
            {{/if}}
        </ul>
    </nav>
</header>