<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <button id="loadBooks">LOAD ALL BOOKS</button>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Isbn</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td>{{isbn}}</td>
                <td>
                    <button>Edit</button>
                    <button>Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a class="createBook" href="/create">Create</a>
</body>

</html>

<!--Feel free to change/update/modify the HTML Structure-->